<div class="checkout-table-details">
  <table class="table">
    <thead>
    <tr role="columnheader">
      <th>Item</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
    </thead>
    <tbody>
    <tr role="row" *ngFor="let item of cart$ | async">
      <td>{{ item.name }}</td>
      <td>{{ item.price | currency }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.price * item.quantity | currency }}</td>
    </tr>
    <tr role="row" class="row-total">
      <td colspan="2">Total</td>
      <td>{{ quantity$ | async }}</td>
      <td>{{ total$ | async | currency }} </td>
    </tr>
    </tbody>
  </table>
</div>
